* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  background-color: #FFFFFF;
  margin-top: 10px;
  table-layout: fixed;
  border: 1px solid #999999;
  padding: 0;


}

#rows, #columns {
  outline:none;
}

td, th {
  padding:0;
  width: 80px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #999999;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-family: Verdana, Arial, Helvetica, sans-serif;

}

td input {
  padding: 0 5px;
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
  background-color: transparent;
  line-height: 28px;
  font-size: 16px;
}

.tag {
  ddisplay: flex;
  align-items: stretch;
  flex-direction: row;
}

.block {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.box {
  display: block;
  width: 300px;
  align-self: stretch;
}

.field {
  display: block;
  width: 300px;
  align-self: stretch;
  padding-left: 150px;
}

#tableFirst, #tableSecond {

  overflow-x: auto;
  white-space: nowrap;
}

